name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Permet de lancer manuellement

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/gotenberg-ghostscript:latest
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/gotenberg-ghostscript:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/gotenberg-ghostscript:buildcache,mode=max

